.dashboard {
  width: 100%;
}

.dashboard-main {
  display: flex;
  width: 100%;
}

.dashboard-right {
  width: 100%;
}

.spotify-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: .9em;
}

.spotify-login button {
  background-color: green;
  cursor: pointer;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
  .dashboard-nav {
    display: none;
  }
}
