.nav {
  min-height: 100vh;
  height: 100%;
  background-color: white;
  border-right: 1px solid var(--light-border);
  font-size: 0.9em;
}

.nav h3 {
  margin: 0;
  color: var(--txt-dark);
}

.nav-list {
  display: flex;
  flex-direction: column;

  padding: 30px 0px 30px 40px;
  width: 250px;
  gap: 20px;
}

.nav-list .subheading {
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0px 10px 0px;
  color: var(--txt-light);
  font-size: 0.8em;
}

.nav-list .link {
  color: var(--txt-med);
  cursor: pointer;
  font-size: 1;
  display: flex;
  gap: 10px;
}

.nav .selectedLink {
  box-sizing: content-box;
  color: var(--orange);
  width: 99%;
  border-right: 3px solid var(--orange);
}
