.dashHome {
    padding: 30px;
    height: 100vh;
    width: 100%;
    font-size: .9em;
    overflow:auto
  }
  
  .dashHome .tabs {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    color: var(--txt-med);
  }
  
  .dashHome .tabs span {
    cursor: pointer;
  }
  
  .dashHome .tabs .selectedTab {
    color: var(--txt-dark);
    font-weight: 500;
  }
  
  .dashHome .body {
    width: 100%;
    display: flex;
  }
  
  .dashHome .body .left-panel {
    flex: 4;
    padding-right: 20px;
  }
  
  .dashHome .body .left-panel .songsPreview {
    margin-bottom: 25px;
  }
  
  .dashHome .body .right-panel {
    flex: 1;
    width: 100%;
    padding-left: 20px;
  }
  
  @media only screen and (max-width: 1200px) {
    .dashHome .body .right-panel {
      display: none;
    }
  }