.songsPreview {
    padding: 20px 30px 30px 30px;
    border: 1px solid var(--light-border);
    border-radius: 10px;
  }
  
  .songsPreview .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--txt-dark);
    margin-bottom: 15px;
    font-size: 0.9em;
  }
  
  .songsPreview .songs {
    display: flex;
    justify-content: space-around;
  }
  
  .songsPreview .loader {
    text-align: center;
    font-size: 2em;
    color: var(--txt-med);
  }
  