.account {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.account h3 {
  margin: 5px 0px;
}

.top-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-panel {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  gap: 10px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}

.profile-pic {
  align-self: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic img {
  width: 100px;
  border-radius: 80px;
}

.account-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.account-field {
  display: flex;
  width: 100%;
}

.account-field .label {
  font-size: 0.8em;
  color: var(--txt-med);
  flex: 0.5;
}

.account-field .field {
  flex: 1;
}

.account .edit,
.account .change-password {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  background-color: orange;
  color: var(--white);
  margin-top: 10px;
}

.account .edit:hover,
.account .change-password:hover {
  filter: brightness(0.95);
}

.account hr {
  margin: 40px 0px;
}
