.searchResult {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  color: var(--txt-med);
  background-color: var(--white);
}

.searchResult:hover {
  background-color: var(--txt-lighter);
}

.searchResult hr {
  color: var(--txt-med);
}

.searchResult .song {
  display: flex;
  flex: 3;
}
.searchResult .album {
  flex: 3;
}
.searchResult .num {
  margin-right: 10px;
}

.searchResult .time {
  display: flex;
  flex: 0.6;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.options:hover {
  cursor: pointer;
  color: orange;
}

.options .disabled {
  cursor: normal;
}

.searchResult img {
  margin-right: 10px;
  width: 45px;
}

.searchResult .song .song-info {
  display: flex;
  flex-direction: column;
}

.searchResult .song .song-info .title {
  color: var(--txt-dark);
}

.searchResult .song .song-info .artist {
  font-size: 0.9em;
}

.searchResult .time .favorite {
}

.searchResult .time .favorite:hover {
  color: orange;
  cursor: pointer;
}
